@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  @apply flex flex-col justify-center items-center m-0 p-5 bg-[#0b2434] h-screen;
}

div#root {
  @apply size-full max-w-[400px] max-h-[400px];
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
